

h1{
    font-weight: 100;
    border-radius: 6%;
    padding-bottom: 3%;
    color: white;
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 100%;
}

.presentacion h2{
    text-align: center;
    margin-top: 2%;
    font-weight: 500;
    font-size: 2em;
    color: white;
}

.seccion h2{
    margin-top: 5%;
    font-weight:100;
    font-size: 1em;
    color: rgb(0, 0, 0);
    
}

#h2pres{
    color: black;
}

h3{
    text-align: center;
}
h4{
    text-align: center;
}
p{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

ul li{
    color: white;
    margin-top: 10%;
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.75em;
    text-align: center;
}

ul li:hover{
    color: brown;
}


a{
    text-decoration: none;
}

h2:hover{
    color:brown;
    font-size: 1.25em;
    transition: 1000ms;
}

#carnespescados h2{
    width: 100%;

}

.trad{
    position: absolute;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 100;
    font-size:xx-small;
    margin-left: 0;
    margin-top: 10%;

}

#option4{
    margin-top: 0;
    margin-left: 1850%;
}

#option5{
    margin-top: 0%;
    margin-left: 1400%;

}

/* styles para picar */

#titulopicar{
    color: white;
    position: absolute;
    top: 45%;
    left: 35%;
    font-weight: 900;
    font-size: 70px;
}

#hovering{
    color: whitesmoke;
    font-size: 40px;
    font-weight:100;
    position: absolute;
    right:14%;
    top: 155%;
    width: 100%;
}