

.articulos{
    width: 40vh;
    height: 20vh;
    margin-top: 10%;
    border-radius: 5%;
}


img{
    filter: grayscale(1);
    
}

img:hover{
    filter: grayscale(0);
    transition: 2500ms;
}

video{
    height: 30%;
    width: 100%;
}

/* Styles pag Para Picar */

#croq{
    filter: brightness(0.2);
    width: 100%;
    height: 15%;
}


#listado{
    width: 300px;
}

#croquetas:hover{
    filter: grayscale(0);
}

#hovering{
    opacity: 1;
}

