@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    
}

#main_header{
    position: fixed;
    z-index: 300;
    width: 100%;
    height: 0.75%;
}

.abajo{
    background-color: black;
    width: 100%;
    height: 2003%;
}

body{
    background-color: rgb(247, 246, 240) ;
}

span{
    color: red;
}



ul{
    list-style: none;
    position: absolute;
    color: white;
    background-color: black;
    width: 100%;
    right: 0%;
    top: 0%;
    opacity: 0;
    height: 100vh;
    padding-bottom: 50%;
}


#burger{
    position: absolute;
    right: 5%;
    top:600%;
    cursor:pointer;
    z-index: 10;
}


.show{
    position: fixed;
    z-index: 9;
    transition: opacity 3s;
    opacity: 1;
}


#video{
    position: relative;
    z-index: 2;
    
    
}
#video #boton{
    position: fixed;
    z-index: 3;
    margin-left: -10%;
    margin-top: 43%;
    background-color: rgb(26, 21, 21);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#video #boton:hover{
    color: red;
    background-color: white;
}
.seccion{
    background-color: rgb(252, 250, 249);
    width: 0;
    height: 0;
    margin-bottom: 5%;
}

#catalogo{
    margin-left: 15%;
    margin-bottom: 40%;
}

#parapicar{
    border-radius: 2%;
    z-index: 8; 
    width: 33%;
    margin-bottom: 4%;
} 

#carnespescados{
    position: relative;
    border-radius: 2%;
    z-index: 8;
    margin-left: 30%;
    margin-top: 0%;
    height: 0;
    width: 33%;
   
} 

#postres{
    margin-left: 65%;
    margin-top: -5%;
    width: 33%;
}

#pie{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 15%;
}

#links{
    z-index: 0;
}

@keyframes mover{
    0%{
        transform: translateY(-100%);
    }
}

@keyframes mover2{
    0%{
        transform: translateX(100%);
    }
}

@keyframes headeranim{
    0%{
        transform: translateY(5%);
    }
}

/* Styles pag. para picar */








